<div class="panel-group" id="accordian">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Course</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <ul class="list-group">
                <li class="list-group-item"><a href="/course/Appetizer">Appetizer</a></li>
                <li class="list-group-item"><a href="/course/Beverage">Beverage</a></li>
                <li class="list-group-item"><a href="/course/Breakfast">Breakfast</a></li>
                <li class="list-group-item"><a href="/course/Dessert">Dessert</a></li>
                <li class="list-group-item"><a href="/course/Entree">Entree</a></li>
                <li class="list-group-item"><a href="/course/Salad">Salad</a></li>
                <li class="list-group-item"><a href="/course/SideDish">Side Dish</a></li>
                <li class="list-group-item"><a href="/course/Snack">Snack</a></li>
                <li class="list-group-item"><a href="/course/SoupStew">Soup + Stew</a></li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Dietry</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse in collapse">
            <ul class="list-group">
                <li class="list-group-item"><a href="/dietry/1">Gluten Free</a></li>
                <li class="list-group-item"><a href="/dietry/2">Healthy</a></li>
                <li class="list-group-item"><a href="/dietry/3">Low Carb</a></li>
                <li class="list-group-item"><a href="/dietry/4">Vegan</a></li>
                <li class="list-group-item"><a href="/dietry/5">Vegetarian</a></li>

            </ul>
        </div>
    </div>
</div>